<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           https://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           https://www.springframework.org/schema/context/spring-context.xsd">
      
     <bean id="firstYear" class="in.ineuron.comp.EngineeringCourses" abstract="true">
     	<property name="courses">
     		<set>
     			<value>Physics</value>
     			<value>Chemistry</value>
     			<value>Mathematics</value>
     		</set>
     	</property>
     </bean>
     
     <bean id="CS" class="in.ineuron.comp.EngineeringCourses" parent="firstYear">
     	<property name="courses">
     		<set merge="true">
     			<value>Data Structures</value>
     			<value>Discrete Mathematics</value>
     		</set>
     	</property>
     </bean>
</beans>